@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.flex {
  display: flex;
}
:root {
    --gray-color: #e5e7eb;
    --blue-color: #1f2937;
}

.signin {
  background-color:#e5e7eb;
  color: #e5e7eb;
  display: flex;
  width: 100vw;
  height: 100vh;
  position:relative;
  flex-grow:1;
  flex-wrap:wrap;
 
}

.signin .signin-section {
  background-color:#1f2937;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:flex-start;
  position:relative;
  flex-direction: column;
  clip-path: polygon(0 0, 40% 0, 70% 100%, 0% 100%);
 
  
}

.signin .signin-section .content .heading {
  font-size: clamp(1.5rem,5vw,3rem);
  font-weight: 700;
  
  justify-content:center;
  align-items:center;
 
  transition:0.1s ease;
}



.signin .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow:1;

  
}


.input-group {
    position: relative;
    margin-bottom: 1vh;
    border-radius: 4px;
    width: 20vw;
}
.input-group input {
    width: 100%;
    padding: 12px 0 8px 0;
    border: none;
    border-bottom: 2px solid var(--gray-color);
    background: transparent;
    color: var(--gray-color);
    font-size: 2vh;
    outline: none;
    transition: border-color 0.3s;
}
.input-group label {
    position: absolute;
    top: 1vh;
    left: 0;
    color: var(--gray-color);
    pointer-events: none;
    transition: 0.3s ease all;
}
.input-group input:focus {
    border-color: #10b981;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -0.6vh;
    font-size: 0.8vw;
    color: #10b981;
}
input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

input:valid,
input:invalid {
    box-shadow: none;
    outline: none;
}

.password-group {
  position: relative;
  
}

.password-group input {
  width: 100%;
  /* space for eye icon */
}





.submit{
  background-color:#10B981;
  gap:10px;
  color:#1f2937;
  font-weight:700;
  width:13vw;
  display:flex;
  flex-direction:column;

  
}
.register{
 
  display:flex;
  justify-content:center;
  align-items:flex-end;
  

}
.content{
  display:flex;
  flex-direction:column;
  height:90vh;
 justify-content:center;
 align-items:center;
 width:50%;
 gap:60px;
}


.signin .welcome-section {
  background-color: #e5e7eb;
  color: #1f2937;
  position:absolute;
  left:70vw;
  top:12vw;
  height: 30vh;
  width:52vh;
  z-index:0;
 transform: translate(0px, 50px) scale(1);
  transition: transform 0.3s ease;

 
}
.welcome{
font-size:50px;
  font-weight:bold;
}
.back{
  font-size:50px;
  font-weight:bold;
  display:inline-block;
  margin-left:6.5vw;
}
/*
means iske neeche jayega to kiya hoga 
*/
@media(max-width:1024px){  
  .signin .welcome-section{
   transform: translate(-50px, 80px) scale(0.9);
  }     
  
}
