@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.flex {
  display: flex;
}

.signin {
  background-color:#e5e7eb;
  color: #e5e7eb;
  display: flex;
  width: 100vw;
  height: 100vh;
  position:relative;
  flex-grow:1;
}

.signin .signin-section {
  background-color:#1f2937;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  clip-path: polygon(0 0, 40% 0, 70% 100%, 0% 100%);
 position:relative;
  
}

.signin .signin-section .heading {
  font-size: 48px;
  font-weight: 700;
  position:absolute;
  justify-content:center;
  align-items:center;
  top:4vw;
  left:12vw;
  height:auto;
}



.signin .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow:1;
  
  position:absolute;
  top:15vw;
  left:10vw;
}
.signin .form input{
  background-color:#1f2937;
  border: none;
  outline:none;
  border-bottom:2px solid  #e5e7eb;
  width:30vw;

  
}
input:focus{
  border:none;
}

.submit{
  background-color:#10B981;
  
  color:#1f2937;
  font-weight:700;
  width:13vw;
  position:absolute;
  top:30vw;
  left:15vw;
  
}
.register{
  position:absolute;
  top:37vw;
  left:13.5vw;
}

.signin .welcome-section {
  background-color: #e5e7eb;
  color: #1f2937;
  position:absolute;
  left:70vw;
  top:12vw;
  height: 30vh;
  width:52vh;
  z-index:0;
  
}
.welcome{
font-size:50px;
  font-weight:bold;
}
.back{
  font-size:50px;
  font-weight:bold;
  display:inline-block;
  margin-left:6.5vw;
}