*{
  margin:0;
  padding:0;
}
.home{
width:100vw;
min-height:100vh;

}
.nav{
  display:flex;
  flex-direction:row;
  width:100%;
  height:8vh;
  background-color:aliceblue;
  color:black;
  gap:10vh;
  flex-grow:1;
}
.elements{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  color:black;
  gap:6vh;
  background-color:antiquewhite;
  width:100%;
}
