


:root {
    --gray-color: #e5e7eb;
    --blue-color: #1f2937;
    --green: #14b37d;
    --bluish: #e9f1ff;
}
body{
  background:var(--bluish)
  /* position:relative; */
}


*{
  margin:0;
  padding:0;
}
.home{
width:100vw;
min-height:100vh;

}
.nav{
  display:flex;
  flex-direction:row;
  width:100%;
  height:8vh;
  background-color:var(--blue-color);
  color:black;
  gap:10vh;
  flex-grow:1;
 
}
.elements{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  color:black;
  gap:6vh;
  width:100%;
  margin-right:3vh;
   

}
.burger{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:1.5vh;
  
}

.elements li{
  list-style:none;
  background-color:var(--green);
  padding:8px;
  border-radius:7px;
  width:12vh;
  text-align:center;

}
.elements li:hover{
  background-color:#27e2a3;
  cursor:pointer;
}

.burger-box{
  display:flex;
  align-items:center;
  color:black;
  justify-content:center;
  width:10vw;
  background-color:rgba(255, 255, 255, 0.282);
  border:2px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(2px);
  position:fixed;
  left:0;
  bottom:0;
  height:100vh;
  width:15vw;
  z-index:1;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  overflow:hidden;
  min-width:200px;
 
}
.burger-ul{
  flex-direction:column;
  list-style:none;
 
}
